@model KaamShaam.Models.ChnageUserPasswordModel
@{
    ViewBag.Title = "Welcome";

}


<!--************************************
        Inner Page Banner Start
*************************************-->
<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout" style="">
    <!--************************************
    Login Register Start
    *************************************-->
    <div class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-content" class="tg-content">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                        <div class="tg-loginarea">
                            <div class="tg-bordertitle">
                                <a href="~/home/index"><img src="~/Images/logo.png" style="height: 113px" /></a>
                                <h3 style="">
                                    Please enter verification code & then new password in order to reset your password.
                                    Verification code has been sent to your number <span style="color: #ff7a36;">@Model.Phone</span>. Please verify.
                                </h3>

                                <input maxlength="6" placeholder="Mobile Verification Code"class="form-control" id="code" style="width: 40%; margin-left: 2%; margin-top: 10px;" type="text" />
                                <br />
                                <input placeholder="New Password"class="form-control" id="pass" style="width: 40%; margin-left: 2%; margin-top: 10px;" type="password" />
                                <br />
                                <input placeholder="Confirm New Password"class="form-control" id="repass" style="width: 40%; margin-left: 2%; margin-top: 10px;" type="password" />

                                <input onclick="varifyNumber()" style="margin-left: 10px;margin-top: 10px;width: 20%;" type="button" class="form-control btn btn-primary" value="Update Password" />

                                <a href="#" id="resendCodelink" onclick="resendCode()" style="display: none; margin-left: 17px; margin-top: 8px;">Re-send code</a>
                                <p style="margin-left: 17px; ">* If you are not receiving the verification code then call us on <strong>923214458064</strong> between <strong>9:00 AM</strong> to <strong>6:00PM</strong> or send us a SMS with your name, CNIC and e-mail.</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--************************************
    Login Register End
    *************************************-->
</main>

<script src="~/Scripts/vendor/jquery-library.js"></script>


<script>
    $(document).ready(function() {
        $('#tg-header').hide();
        $('#tg-footer').hide();
    });

    var model = @Html.Raw(Json.Encode(Model));


   function showLink() {
       setTimeout(function() {
           $("#resendCodelink").css('display','block');
       }, 12000);
   }

   showLink();


    function varifyNumber() {
        var code = $('#code').val();

        var pass = $('#pass').val();

        var repass = $('#repass').val();

        if (code === "" || code === undefined || code==null || code.length<6) {
            toastr.error("Please enter 6-digit varification code");
            return;
        }

        if (pass === "" || pass.trim().length ===1) {
            toastr.error("Please Enter Password");
            return;
        }
        if (repass === "" || repass!==pass) {
            toastr.error("Password & confirm password do not match");
            return;
        }

        if (pass.length < 5 || repass.length < 5) {
            toastr.error("Password & Confirm-Password length should be greater than 5 ");
            return;
        }
        model.Code = code;
        model.Password = pass;

        $.ajax({
            url: 'ResetUserPasswordAjax',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(model),
            success: function (data) {
                if (data === null || data === undefined || !data.status) {
                    toastr.error(data.message);
                    return;
                }

                toastr.success("Password Updated. Please log in");
                window.location.href = "../Account/Login";;
            },
            error: function(data) {
                toastr.error("Something bad happended");
            }
        });
    }

    function resendCode (){
        $.ajax({
            url: 'ReGeneratePhoneCode',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(model),
            success: function (data) {
                toastr.success("Varification code has been sent.");
                $("#resendCodelink").hide();
                showLink();
            },
            error: function(data) {
                toastr.error("Something bad happended");
            }
        });
    }
</script>