@model KaamShaam.LocalModels.RegisterPageWraper
@{
    ViewBag.Title = "Welcome";

}


<!--************************************
        Inner Page Banner Start
*************************************-->

<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout" style="">
    <!--************************************
    Login Register Start
    *************************************-->
    <div class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div id="tg-content" class="tg-content">
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                      </div>
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <div class="tg-loginarea">
                                <div class="tg-bordertitle">
                                   <a href="~/home/index"><img src="~/Images/logo.png" style="height: 113px"/></a>
                                    <h3 style="">You have been successfully registered with KamSham.pk. An confirmation email has been sent to you. We will get back to you soon. </h3>
                                    <a style="margin-left: 21px" href="~/home/index">Go Back To Home</a>
                                                               </div>
                                
                            </div>
                        </div>

                    </div>
            </div>
        </div>
    </div>
    <!--************************************
    Login Register End
    *************************************-->
</main>

<script src="~/Scripts/vendor/jquery-library.js"></script>
<script>
    $(document).ready(function() {
        $('#tg-header').hide();
        $('#tg-footer').hide();
    });
</script>