<!--************************************
Inner Page Banner Start
*************************************-->
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
                                   Request.ApplicationPath.TrimEnd('/');
}
@model List<KaamShaam.Models.AppointmentEventModel> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css"/>
<style>
    .fc-day-grid-container {
        height: 595px !important;
    }
    .ui-autocomplete {
  z-index:2147483647;
}
    li {
    list-style: none;
}
</style>

<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagetitle">
                    <h1>Appointments</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="tg-active">Appointments</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns">

                @{ Html.RenderPartial("LeftMenu");}
                <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
                    <div id="tg-content" class="tg-content">
                        <div class="tg-joblisting tg-dashboardmanagejobs">
                            <div class="tg-dashboardhead">
                                <div class="tg-dashboardtitle">
                                    <h2>Manage Appointments</h2>
                                </div>
                                <button class="tg-btnaddservices" data-toggle="modal" data-target="#addnewevent"> New</button>
                            </div>                            
                            <div id="calendarContainer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- basic info -->
<div class="modal fade" id="addnewevent" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h3 class="modal-title">Appointment Details</h3>
            </div>
            <div class="modal-body" style="height:375px; padding: 4%;">

                <!-- content goes here -->
                <div class="form-group">
                    <label> Title & Description</label>
                    <input type="text" class="form-control editJobVal" id="eventTitle">
                </div>
                <div class="form-group">
                    <label> Appointment Type</label>
                    <select id="appType" class="form-control">
                        <option value="General">General</option>
                        <option value="Business">Business</option>
                        <option value="Meeting">Meeting</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date/Time</label>
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" data-format="yyyy-MM-dd hh:mm:ss"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group" style="width: 92%;">
                    <label>Appointment With</label>
                    <input type="text" id="appwith" class="typeahead tt-query" autocomplete="off" spellcheck="false">
                </div>
                <img class="ajaxloader" id="adminLoading" src="~/Images/ajax-loader.gif" style="margin-top: 40px;margin-left: 14px;"/>
            </div>
            <div class="modal-footer">
                <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                        <button onclick="addevent()" id="suspendBtn" type="button" class="btn btn-primary" >Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--************************************
        Main End
*************************************-->
<script src="~/Scripts/vendor/jquery-library.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/fullcal.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script>
    var withId = "";
    var events = @Html.Raw(Json.Encode(Model));
    $(document).ready(function () {
        $('#adminLoading').hide();
        $('#calendarContainer').fullCalendar({
            eventLimit: 2, // If you set a number it will hide the itens
            eventLimitText: "More...", // Default is `more` (or "more" in the lang you pick in the option)
            dayClick: function (date, jsEvent, view) {
                var m = (date._d.getMonth() + 1);
                var d = date._d.getDate();
                if ( m< 10) {
                    m = "0"+m;
                }
                if ( d< 10) {
                    d = "0" +d;
                }
                var dateObj = date._d.getFullYear() + "-" + m + "-" + d;
                window.location = "/Appointment/GetDayEvents?dateObj=" + dateObj;
            },
            header: {
                left: 'prev, next today',
                center: 'title',
                right: 'month, basicWeek, basicDay'
            },
            events: events
        });

        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD HH:mm:ss'
        });

        var objects = [];
        var map = {};

        $('#appwith').typeahead({
            source: function (query, process) {
                return $.getJSON(
                    'GetSuggestions',
                    { query: query },
                    function (data) {
                        $('#adminLoading').hide();
                        objects = [];
                        map = {};
                        $.each(data, function (i, object) {
                            map[object.label] = object;
                            objects.push(object.label);
                        });
                        process(objects);
                    });
            }
            ,
            updater: function (item) {
                $('#adminLoading').hide();
                withId=(map[item].id);
                return item;
            }
        }).on('keyup', this, function (event) {
            $('#adminLoading').show();
        });

        setInterval(function() {
            $('#adminLoading').hide();
        },5000);

    });
    var myeve;
    function addevent() {

        var text = $('#eventTitle').val();
        var dobj = $("#datetimepicker1").find("input").val();
        if (text === "" || dobj === "" || withId === "") {
            toastr.warning("Enter mandatory data");
            return false;
        }
        $('#adminLoading').show();

        var dates = dobj.split(' ');
        var newval = dates[0] + "T" + dates[1];
        myeve = { id: -565, title: text, start: newval };
        var server = {};
        server.Title = text;
        server.Type = $("#appType").val();
        server.WithId = withId;
        server.DateTime = new Date(dobj);

        postMydata(server, 'AddApp', success_Handler);

    }
    function postMydata(serverObj, url, successFunc) {
        $('#adminLoading').show();
        $.ajax({
            url: url,
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify(serverObj),
            success: successFunc,
            error: function (data) {
                $('#adminLoading').hide();
                toastr.error("Job failed to update");
            }
        });
    }

    function success_Handler(data) {
        $('#calendarContainer').fullCalendar('renderEvent', myeve, true);
        $('#adminLoading').hide();
        hideModel("addnewevent");
    }
</script>