<head>
    <title>About Us</title>
</head>
<!--************************************
Inner Page Banner Start
*************************************-->
@{
    string baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
                            Request.ApplicationPath.TrimEnd('/');

}
<div class="tg-innerpagebanner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="tg-pagetitle">
                    <h1>About Us</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="@baseUrl/Home/Index">Home</a></li>
                    <li class="tg-active">about us</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Inner Page Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-paddingzero tg-haslayout">
    <!--************************************
            Services Facilities Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-push-1 col-lg-8 col-lg-push-2">
                    <div class="tg-sectionhead">
                        <div class="tg-sectiontitle">
                            <h2>How We re Serving You</h2>
                        </div>
                        <div class="tg-description">
                            <p>KamSham.pk is an innovative platform setup by Kisam Engineering. This online and mobile platform aims to connect service providers like technicians, Electricians, Plumbers, Carpenters, A/C mechanics etc to end customers in a secure and safe environment. On the press of a button, you are immediately connected to our duly registered and certified service partner available in close proximity of your premises. Our services partners undergo multiple registration procedures and security checks before being registered into the system. They all carry certifications with multiple years of experience to help you with your selection process. With KamSham.pk we guarantee excellent customer service standards at best in market rates. To help you with your selection decision, each service provider comes with star ratings and independent reviews given by other customers. KamSham.pk – Quality & value in one click!</p>
                        </div>
                    </div>
                </div>
                <div class="tg-servicesfacilities">
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-hasslefreelife"><i class="lnr lnr-magic-wand"></i></span>
                            <div class="tg-title">
                                <h3>Hassle Free Life</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-allprofessionals"><i class="lnr lnr-heart"></i></span>
                            <div class="tg-title">
                                <h3>All Professionals</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-fiskfreeservices"><i class="lnr lnr-thumbs-up"></i></span>
                            <div class="tg-title">
                                <h3>Risk Free Services</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-securepayments"><i class="lnr lnr-license"></i></span>
                            <div class="tg-title">
                                <h3>Secure Payments</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-savingyourtime"><i class="lnr lnr-clock"></i></span>
                            <div class="tg-title">
                                <h3>Saving Your Time</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-savingyourcost"><i class="lnr lnr-tag"></i></span>
                            <div class="tg-title">
                                <h3>Saving Your Cost</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-premiumexperience"><i class="lnr lnr-star"></i></span>
                            <div class="tg-title">
                                <h3>Premium Experience</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="tg-servicefacility">
                            <span class="tg-servicefacilityicon tg-servicetime"><i class="lnr lnr-cart"></i></span>
                            <div class="tg-title">
                                <h3>24/7 Service Time</h3>
                            </div>
                            <div class="tg-description">
                                <p>Adipisicing elit sed dotas eiusmod incididunt utia labore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Services Facilities End
    *************************************-->
    <!--************************************
            Company Video Start
    *************************************-->
    
    <!--************************************
            Company Video End
    *************************************-->
    <!--************************************
            Timeline Start
    *************************************-->
   
    <!--************************************
            Timeline End
    *************************************-->
    <!--************************************
            Secure & Reliable Start
    *************************************-->
    <section class="tg-main-section tg-haslayout tg-bglight">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <figure class="tg-noticeboard"><img src="@baseUrl/images/about/img-11.jpg" alt="image description"></figure>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <div class="tg-secureandreliable">
                        <div class="tg-textshortcode">
                            <h2>Start Earning Today!</h2>
                            <h3>It’s Secure, Its Reliable</h3>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed eiusmod tempor incididunt labore et dolore magna aliqua enim adia minim veniam quis nostrud exercitation ullamco laboris atuiuip extea commo consequat aute irure dolor reprehenderit.</p>
                            </div>
                        </div>
                        <a class="tg-btn" href="~/Account/register">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Secure & Reliable End
    *************************************-->
    <!--************************************
            Loyal Partners Start
    *************************************-->
    
    <!--************************************
            Loyal Partners End
    *************************************-->
</main>
<!--************************************
        Main End
*************************************-->
